 /* SIDENAV IV (Só perde para a Millennium Falcon) */

.sidenav{
  z-index: 99998;
  position: fixed;
  height: 100%;
  width: 350px;
  user-select: none;
  left: -350px;
  background-color: #FFF;
  visibility: hidden;
}
.sidenav.open{
  transform: translateX(350px);
  visibility: visible;
  overflow: auto;
}
.sidenav.open ~ div.outside{
  width: 100%;
  display: block;
  visibility: visible;
  transition: all .2s;
  position: fixed;
  z-index: 99997;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.239);
}
.sidenav .background{
  width: 100%;
  overflow: hidden;
  height: 94px;
  position: relative;
}
#sideButton{
  z-index: 99999;
  position: fixed;
  left: 20px;
  top: 20px;
}
.sidenav .background .user-photo{
  position: absolute;
  top:25px;
  transform: translateX(-50%);
  left: 50%;
  background-color: #FFF;
  line-height: 50px;
  width: 50px;
  display: block;
  margin: auto;
  border-radius: 36px;
  font-family: 'Roboto';
  font-size: 37px;
  color: #273c95;
  user-select: none;
  font-weight: bold;
  text-align: center;
}
.user-informations{
  color: #FFF;
  position: absolute;
  width: 100%;
  top: 50px;
  font-size: 13px;
  text-align: center;
}

#sideButton {
width: 25px;
height: 30px;
position: fixed;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
}

#sideButton span {
display: block;
position: absolute;
height: 3px;
width: 100%;
background: #FFF;
border-radius: 10px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}
.sidenav .list-group .fas{
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 25px;
  line-height: 25px;
  float: left ;
}
.sidenav .list-group .disabled{
  margin-top: 20px;
}

.sidenav .list-group-item{
  border: none;
  font-weight: 100;
}

#sideButton span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#sideButton span:nth-child(2) {
  top: 7px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#sideButton span:nth-child(3) {
  top: 14px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#sideButton.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 0px;
}

#sideButton.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#sideButton.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 13.9px;
  left: 0px;
}
.navbar{
  padding: 0;
  height: 55px;
}
.navbar .container .titulo{
  font-size: 100%;
  margin: 0 auto;
  top:0;
  text-align: center;
  display: block; 
  color:#FFF;
}

/* NOSSA EMPRESA */
.carousel-item{
  overflow: hidden;
  height: 100%;
}
.carousel-image{
  text-align: center;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  max-width: 4000px;
  min-height: 100%;
  min-width: 100%;
}
.carousel-image h1{
  color: #fff;
  position: absolute;
  bottom: 50px;
  text-shadow: 0 0 2px #fff, 0px 1px 6px hsl(0, 0%, 41%), -1px 0px 1px hsl(0, 0%, 31%), -2px -2px 2px hsl(80, 10%, 15%);
  width: 100%;
}
.divider{
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}
.flex-center{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}
.button-flat{
  position: relative;
  border-radius: 90px;
  display: inline-block;
  height: 150px;
  margin: 20px auto;
  width: 150px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.button-flat img{
  height: 100%;
}
.button-flat:hover img{
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);

  transform: rotate(-10deg);
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
.button-flat h5{
  width: 125px;
  left: 50%;
  transform : translateX(-50%);
  position: absolute;
  bottom: -2px;
  background-color: #FFF;
  border-radius: 10px;
  text-align: center;
  padding: 0;
  line-height: 30px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  margin: 0;
}
.btn-tag{
  width: auto;
  padding: 5px 10px;
  margin: 5px 10px;
  font-size: 13px;
  background-color: #e4e4e4;
  border-radius: 50px;
  color: rgba(0, 0, 0, 0.6) !important;

}
.btn-tag i {
  color: #2196f3;
}
/* -------------------------------- */